@import '../../settings/colors';

.step-one-section {
  .step-number {
    font-size: 26px;
    font-weight: 300;
    color: $color-dark-brown;
    padding: 3rem 0 1.5rem 7rem;
  }

  .step-one-title {
    font-size: 34px;
    font-weight: 600;
    padding: 1.5rem 0 2rem 7rem;
  }

  .step-one-checkbox {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 1rem 7rem;

    .checkbox-text {
      font-size: 23px;
      font-weight: 300;
      bottom: 30px;
      padding-bottom: 2.3rem;

      .checkbox {
        position: relative;
        cursor: pointer;
        width: 35px;
        height: 35px;
        padding-bottom: 1rem;
        appearance: none;
        outline: none;
      }

      span {
        position: relative;
        bottom: 0.4rem;
        padding-left: 1.5rem;
      }
    }

    .checkbox:before {
      content: "";
      display: block;
      position: absolute;
      width: 35px;
      height: 35px;
      top: 0;
      left: 0;
      border: 1px solid $color-dark-brown;
      background: transparent;
    }

    .checkbox:checked:after {
      content: "";
      display: block;
      width: 35px;
      height: 35px;
      background: $color-yellow;
      position: absolute;
      top: 1px;
      left: 1px;
    }
  }
}
