@import "settings/colors";

.header-nav {
  display: flex;
  flex-direction: column;
  margin: 0 9rem 2.5rem 9rem;

  .header-menu {
    font-size: 1rem;
    margin: 0;

    ul {
      display: flex;
      justify-content: flex-end;
      margin-top: 0.5rem;

      .start-btn {
        text-decoration: none;
        color: inherit;
      }

      li {
        margin: 0 0.5rem;
        padding: 0.5rem 1.125rem;

        &:hover {
          cursor: pointer;
        }

        &:first-of-type {
          border: 1px solid $color-black;
        }

        &:last-of-type {
          margin-right: 0;
          padding-right: 0;
        }
      }
    }
  }
}