@import "settings/colors";

.header {
  display: flex;
  flex-direction: column;
  margin: 2.5rem 9rem 0 9rem;

  .header-login {
    font-size: 0.875rem;
    margin: 0 0 0.8rem 0;

    ul {
      display: flex;
      justify-content: flex-end;

      li {
        padding: 0.5rem;

        &:last-of-type {
          border: 1px solid $color-yellow;
          margin-left: 0.625rem;
        }

        .header-login-nav {
          color: $color-grey;
        }
      }
    }
  }
}
