@import 'settings/colors';
@import 'settings/fonts';

@import 'Header';
@import 'MainSection';
@import 'ThreeColumns';
@import 'Steps';
@import 'About';
@import 'Contact';
@import "Footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-base;
  font-size: 16px;
}

ul {
  list-style-type: none;
}