@import 'settings/colors';
@import 'settings/fonts';

@import 'Header';
@import 'MainSection';
@import 'ThreeColumns';
@import 'Steps';
@import 'About';
@import 'Contact';
@import 'Footer';
@import 'Organisations';

@import "Login";
@import "Register";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-base;
  font-size: 16px;
  height: 100%;
  //max-width: 1920px;
}

ul {
  list-style-type: none;
}