@import 'settings/colors';
@import 'settings/fonts';

@import 'Header';
@import 'HeaderNav';
@import 'MainSection';
@import 'ThreeColumns';
@import 'Steps';
@import 'About';
@import 'Contact';
@import 'Footer';
@import 'Organisations';
  @import 'Pagination';
  @import 'Content';

@import 'Login';
@import 'Register';
@import 'Logout';

@import 'GiveThingsForm/FormMain';
  @import 'GiveThingsForm/FormSteps/FormSteps';
    @import 'GiveThingsForm/FormSteps/StepOne';
    @import 'GiveThingsForm/FormSteps/StepTo';
    @import 'GiveThingsForm/FormSteps/StepThree';
    @import 'GiveThingsForm/FormSteps/StepFour';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-base;
  font-size: 16px;
  height: 100%;
  max-width: 1920px;
}

ul {
  list-style-type: none;
}